body {
    background: black;
    color: white;
    margin: 0;
    font-family: Arial;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0a0a0a;
    padding: 15px 40px;
}

.logo {
    width: 70px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #88f7ff;
}

nav a.active {
    color: #00e1ff;
}

.discord-btn {
    padding: 8px 16px;
    background: #00e1ff;
    color: black;
    border-radius: 6px;
    font-weight: bold;
}

.hamburger {
    color: #00e1ff;
    font-size: 28px;
    cursor: pointer;
    display: none;
}

.hero {
    height: 330px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
}

.cta {
    background: #00e1ff;
    color: black;
    padding: 10px 18px;
    border-radius: 6px;
    text-decoration: none;
}

.ranks-container {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}

.rank-card {
    background: #111;
    text-align: center;
    padding: 20px;
    border-radius: 12px;
    transition: .3s;
}

.rank-card:hover {
    transform: scale(1.05);
    background: #1d1d1d;
}

.rank-card img {
    width: 120px;
}

.buy-btn {
    background: #00e1ff;
    padding: 8px 15px;
    border-radius: 6px;
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: black;
}

footer {
    text-align: center;
    padding: 20px;
    background: #050505;
    margin-top: 40px;
}